/* NAVIGATION BUTTONS */
.myapp-nav-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1.2rem;
}

.myapp-nav-buttons a {
    color: #161f36;
    text-decoration: none;
    background-color: #f2ede2;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1rem;
    transition: background-color 0.2s ease;
}

.myapp-nav-buttons a:hover {
    background-color: #161f36;
    color: #f2ede2;
}

/* */
/* */
/* */

/* FORM ELEMENTS: LABELS + INPUTS */
.input-label {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
    display: block;
    color: #161f36;
}

input[type="text"] {
    font-size: 1rem;
    padding: 0.4rem 0.6rem;
    color: #161f36;
}

/* */
/* */
/* */

/* SUBMIT BUTTON */
.stButton > button {
    margin-top: 0.58rem;
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
    background-color: #f2ede2;
    color: #161f36;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.2s ease;
}

.stButton > button:hover {
    background-color: #161f36;
    color: #f2ede2;
}

/* */
/* */
/* */


/* BOX COMPONENTS: SUMMARY, NEWS, SENTIMENT */
/* Shared styles */
.summary-box,
.latest-news-box,
.sentiment-box {
    border: 2px solid #161f36;
    border-radius: 8px;
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.4;
    box-sizing: border-box;
    background-color: #f2ede2;
    width: 100% !important;
}

/* Color overrides */
.summary-box,
.latest-news-box {
    color: #161f36;
}

.sentiment-box {
    color: #161f36;
}

/* Heights and scrolling */
.summary-box {
    min-height: 500px;
    max-height: 500px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.latest-news-box {
    min-height: 150px;
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.sentiment-box {
    max-height: 300px;
    margin-bottom: 20px;
}

/* */
/* */
/* */

/* HYPERLINKS */
a {
    color: #aec3b0;
    text-decoration: none;
}

.latest-news-box a:hover {
    color: #124559;
}

/* */
/* */
/* */


/* ALIGNMENT + SPACING FIXES */
.dropdown-align {
    padding-top: 6px;
}

.stTags label,
.dropdown-align label {
    margin-bottom: 50rem !important;
    margin-top: 50rem;
    display: block;
}

.stTags {
    margin-top: -4px;
}
